<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141367350-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141367350-1');
  </script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://use.fontawesome.com">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  <!-- <link rel="preconnect" href="https://www.google-analytics.com"> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ignacio Millan</title>

  <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" >

  <meta name="title" content="Ignacio Millan">
  <meta name="description" content="{{ .Site.Params.description }}">

  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ .Site.Params.profileImage | absURL }}" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta property="og:url" content="https://ignaciomillan.com">
  <meta property="og:site_name" content="{{ .Title }}" >

  <link rel="icon" type="img/ico" href="img/favicon.ico">
  <meta name="author" content="{{ .Site.Params.firstName }} {{ .Site.Params.lastName }}">
  <!-- Bootstrap core CSS -->
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i|Saira+Extra+Condensed:500,700" rel="stylesheet">

  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
  <!-- <link href='https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'> -->

  <!-- Custom styles for this template -->
  <link href="{{ "css/resume.css" | absURL }}" rel="stylesheet">
  <link href="{{ "css/tweaks.css" | absURL }}" rel="stylesheet">
  {{ .Hugo.Generator }}
  {{ block "headfiles" . }}
   <!-- pl;aceholder -->
  {{ end }}



  <script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "person",
      "name": "Ignacio Millan Garcia",
      "jobTitle": "DevOps Architect",
      "gender": "male",
      "url": "https://ignaciomillan.com",
      "image": "https://ignaciomillan.com/img/me.jpg",
      "address": {
         "@type": "PostalAddress",
         "addressLocality": "Madrid",
         "addressRegion": "Madrid",
         "addressCountry": "Spain"
      },
      "email": "hi@ignaciomillan.com",
      "birthDate": "1990-09-12",
      "nationality": "Spanish"
    }
  </script>
</head>
<body id="page-top">
  {{ partial "nav.html" . }}
  <div class="container-fluid p-0">
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}

    <span style="color: #999999; font-size: 60%;">Nifty <a href="https://codepen.io/wbeeftink/pen/dIaDH">tech tag lists</a> from <a class="pen-owner-link" href="https://codepen.io/wbeeftink">Wouter Beeftink</a> </span>
    {{ with $.GitInfo }}{{ with $.Site.Params.gitCommitPrefix }} | <span style="color: #999999; font-size: 60%;">Page content generated from commit: <a href="{{ . }}/{{ $.GitInfo.AbbreviatedHash }}" title="log: {{ $.GitInfo.Subject }}">{{ $.GitInfo.AbbreviatedHash }}</a>{{ end }}{{end}}
  </div>
  {{ block "footerfiles" . }}
  {{ end }}

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Custom scripts for this template -->
  <script src="/js/resume.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  <script>
    lazyload();
  </script>
  <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
  <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@nachomillangarcia","postsPerLine":1,"limit":4,"picture":"small","fields":["description","claps"],"ratio":"landscape"}})</script>

  <script type="text/javascript">

    /* First CSS File */
    var giftofspeed = document.createElement('link');
    giftofspeed.rel = 'stylesheet';
    giftofspeed.href = 'https://use.fontawesome.com/releases/v5.8.2/css/solid.css';
    giftofspeed.type = 'text/css';
    var godefer = document.getElementsByTagName('link')[0];
    godefer.parentNode.insertBefore(giftofspeed, godefer);

    /* Second CSS File */
    var giftofspeed2 = document.createElement('link');
    giftofspeed2.rel = 'stylesheet';
    giftofspeed2.href = 'https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css';
    giftofspeed2.type = 'text/css';
    var godefer2 = document.getElementsByTagName('link')[0];
    godefer2.parentNode.insertBefore(giftofspeed2, godefer2);

    /* Fourth CSS File */
    var giftofspeed3 = document.createElement('link');
    giftofspeed3.rel = 'stylesheet';
    giftofspeed3.href = 'https://use.fontawesome.com/releases/v5.8.2/css/brands.css';
    giftofspeed3.type = 'text/css';
    var godefer3 = document.getElementsByTagName('link')[0];
    godefer3.parentNode.insertBefore(giftofspeed3, godefer3);

    /* Fourth CSS File */
    var giftofspeed5 = document.createElement('link');
    giftofspeed5.rel = 'stylesheet';
    giftofspeed5.href = 'https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css';
    giftofspeed5.type = 'text/css';
    var godefer5 = document.getElementsByTagName('link')[0];
    godefer5.parentNode.insertBefore(giftofspeed5, godefer5);
  </script>

</body>
</html>
