{{ define "main" }}
<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  <div class="my-auto">
<!-- this is used as the index for any taxonomy, ie /tags/ -->
  <ul>
    {{ range .Data.Pages }}
        <li>
           <a href="{{.Permalink}}">{{.Title}}</a>
       </li>
    {{ end }}
  </ul>
  </div>
  </section>
{{ end }}
