

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row" style="margin-bottom: 2rem; ">
            <span class="d-none d-lg-block">
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ .Site.Params.profileImage | relURL }}" alt="ignacio millan" id="main-photo">
            </span>
            <div class="mr-auto" style="margin-top: auto; margin-bottom: auto; margin-left: 3rem;">
              <div>
              <h1 class="mb-0">{{ .Site.Params.firstName }}
                <span class="text-primary">{{ .Site.Params.lastName }}</span>
              </h1>
              <div class="subheading">{{ .Site.Params.address }} ·
                <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
              </div>
            </div>

            </div>

            {{ if .Site.Params.showQr }}
              {{ partial "contact-qr" . }}
            {{ end }}
        </div>
        <div>
          {{ .Content }}
          <ul class="list-inline list-social-icons mb-0" style="line-height: 60px;">
            {{ range .Site.Params.handles }}
                <li class="list-inline-item">
                  <a href="{{ .link }}" data-toggle="tooltip" aria-label="{{ .name }}" title="{{ .name }}" data-offset="0 10">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      {{ if .solid}}
                      <i class="fas {{ if .icon}}fa-{{ .icon }}{{ else }}fa-{{ lower .name }}{{ end }} fa-stack-1x fa-inverse"></i>
                      {{ else }}
                      <i class="fab {{ if .icon}}fa-{{ .icon }}{{ else }}fa-{{ lower .name }}{{ end }} fa-stack-1x fa-inverse"></i>
                      {{ end }}
                    </span>
                  </a>
                </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </section>
