<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">{{ .Site.Params.firstName }} {{ .Site.Params.lastName }}</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" id="main-menu">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ "#about" | relURL }}">About</a>
      </li>
      {{ if .Site.Params.showActivity }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#activity">Activity</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showSkills }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#skills">Tech Stack</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showProjects }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#projects">Open Source</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showOpenSource }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#open">Open Source</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showPublications }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#publications">Publications</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showExperience }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#experience">Experience</a>
          </li>
      {{ end }}
      {{ if .Site.Params.showEducation }}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#education">Education</a>
          </li>
      {{ end }}
    </ul>
  </div>
</nav>
