
<div class="resume-item d-flex flex-column flex-md-row mb-5">
  <div class="publication-content mr-auto">
    <h3 class="mb-0">{{ .Params.pubtype }} - <a href="{{ .Permalink }}">{{ .Params.title }}</a></h3>
    <div>{{ .Params.description | safeHTML }}</div>
    <p>{{ partial "techtags" . }}</p>
  </div>
  <div class="resume-date text-md-right">
    <span class="text-primary">{{ .Params.date | dateFormat "January 2006" }}</span>
    <img class="lazyload" data-src="{{ .Params.image }}" alt="Project Logo" style="max-width:250px;padding:5px;"/>
  </div>
</div>
